* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 38, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 900px;
  height: 350px;
  border: 1px solid rgb(96, 96, 97);
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}

.image-box {
  position: relative;
  height: 100%;
  width: 150px;
  flex-shrink: 0;
  transition: all 0.5s ease;
}

.image-box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.image-box.active {
  flex-grow: 5;
}

.image-box:not(.active) {
  flex-grow: 1;
}

.text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 26px;
  z-index: 2;
}
